{% for message in messages %}
    {% if loop.index is divisible by(2) %}
    <div class="chat-message right">
        {% image "bundles/social/assets/img/profil.jpg" %}<img class="message-avatar" alt="image" src="{{ asset_url }}">{% endimage %}
        <div class="message">
            <span class="message-date pull-left"> {{ message.datePublication|date ('d/m/Y à H:i') }} </span>
            <div class="message-author text-info"> {{ message.compte.pseudo|capitalize }}</div>
            <a class="suppr-message pull-left" data-value="{{ message.id }}">
                {% if  app.user.id == message.compte.id %}
                    <i id="fa-times" class="fa fa-times text-danger" data-toggle="tooltip" title="Supprimer" aria-hidden="true"></i>
                    {% endif %}
            </a><div class="message-content">{{ message.corps }}</div>
        </div>
    </div>
        {% else %}
            <div class="chat-message left">
                {% image "bundles/social/assets/img/profil.jpg" %}<img class="message-avatar" alt="image" src="{{ asset_url }}">{% endimage %}
                <div class="message">
                    <span class="message-date pull-right"> {{ message.datePublication|date ('d/m/Y à H:i') }} </span>
                    <div class="message-author text-info"> {{ message.compte.pseudo|capitalize }}</div>
                    <a class="suppr-message pull-right" data-value="{{ message.id }}">
            {% if  app.user.id == message.compte.id %}
                <i id="fa-times" class="fa fa-times text-danger" data-toggle="tooltip" title="Supprimer" aria-hidden="true"></i>
                {% endif %}
                    </a><div class="message-content">{{ message.corps }}</div>
                </div>
            </div>
            {% endif %}
{% endfor %}